@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');

html {
	font-family: 'Signika';
	user-select: none;
	color: white;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	text-shadow: 1px 1px 0px black;
	overflow:hidden;
}

.inventory-main {
	display: none;
	position: fixed;
	margin: auto;
	opacity: 0.9;
	overflow: hidden;
}

.inventory-main-leftside {
	width: 590px;
	height: 450px;
	overflow: auto;
	direction: ltr;
}

.inventory-main-rightside {
	width: 590px;
	height: 450px;
	overflow: auto;
	direction: ltr;
	margin-left: -4px;
}

.ItemBoxes {
	position: relative;
	width: 112px;
	height: 130px;
	background-color: rgba(0, 0, 0, 0.2);
	float: left;
	top: -2px;
	margin: 2px 1px 0 1px;
	border: 0.09vh solid rgba(80,80,80,0.2);
    border-radius: 10px;
} 

.inventory-main-leftside > .ItemBoxes:nth-child(1):after {
	top: 0;
	left: 0;
	margin: 0 auto;
	position: absolute;
	content: '1';
	height: 15px !important;
	width: 15px !important;
	font-size: 11px;
	font-weight: bold;
	font-family: "Basic";
	text-align: center;
	line-height: 14px;
	vertical-align: middle;
	color: white;
	text-shadow: none;
}

.inventory-main-leftside > .ItemBoxes:nth-child(2):after {
	top: 0;
	left: 0;
	margin: 0 auto;
	position: absolute;
	content: '2';
	height: 15px !important;
	width: 15px !important;
	font-size: 11px;
	font-weight: bold;
	font-family: "Basic";
	text-align: center;
	line-height: 14px;
	vertical-align: middle;
	color: white;
	text-shadow: none;
}

.inventory-main-leftside > .ItemBoxes:nth-child(3):after {
	top: 0;
	left: 0;
	margin: 0 auto;
	position: absolute;
	content: '3';
	height: 15px !important;
	width: 15px !important;
	font-size: 11px;
	font-weight: bold;
	font-family: "Basic";
	text-align: center;
	line-height: 14px;
	vertical-align: middle;
	color: white;
	text-shadow: none;
}

.inventory-main-leftside > .ItemBoxes:nth-child(4):after {
	top: 0;
	left: 0;
	margin: 0 auto;
	position: absolute;
	content: '4';
	height: 15px !important;
	width: 15px !important;
	font-size: 11px;
	font-weight: bold;
	font-family: "Basic";
	text-align: center;
	line-height: 14px;
	vertical-align: middle;
	color: white;
	text-shadow: none;
}

.itemboxes-container {
	height: 130px;
	min-width: 110px;
	max-width: 550px;
	width: fit-content;
	position: absolute;
	left: 47%;
	bottom: 15%;
	overflow: hidden;
}

.template {
	display: none;
}

.itembox-container {
	display: none;
	position: relative;
	float: left;
	margin: 0.5px;
	width: 110px;
	height: 130px;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.2);
	outline: 1px solid rgba(38,38,38,0.1);
	outline-offset: -1px;
}

.hotbar-container {
	height: 130px;
	min-width: 110px;
	width: fit-content;
	position: absolute;
	left: 50%;
	bottom: 2%;
	z-index: 1;
	transform: translate(-50%, 0%);
	overflow: hidden;
}

.hotslot-container {
	position: relative;
	float: left;
	margin: 1px;
	width: 110px;
	height: 110px;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.2);
	outline: 1px solid rgba(38,38,38,0.1);
	outline-offset: -1px;
}

#itembox-action {
	position: absolute;
	padding: 4px 0 4px 0;
	width: 100%;
	text-align: center;
	left: 0;
	font-size: 13px;
	background-color: white;
	outline: 1px solid rgba(38,38,38,0.1);
	outline-offset: -1px;
	color: #111;
	text-shadow: none !important;
	font-weight: 700;
}

.itembox-img img {
	display:block;
	position: relative;
	margin: 0 auto;
	margin-top: 10%;
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	bottom: -10px;
	z-index: -1;
}

.hotslot-img img {
	display:block;
	position: relative;
	margin: 0 auto;
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	top: 5px;
	z-index: -1 !important;
}

#itembox-label {
	padding: 5px 0 5px 0 !important;
}

.item-slot-img {
	max-width: 100%;
	max-height: 100%;
}

.item-slot-img img {
	display:block;
	position: relative;
	margin: 0 auto;
	margin-top: 10%;
	width: auto;
	height: auto;
	max-width: 80%;
	max-height: 80%;
}

.item-slot-label, #itembox-label {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: rgba(100, 41, 41, 0.9);
	height: 1.9vh;
	padding: 2px 0 2px 0;
	font-size: 10px;
	text-align: center;
	text-transform: uppercase;
	font-variant: small-caps;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.item-slot-durability-bar {
	position: absolute;
	height: 8px;

	width: 590px;
	bottom: 0px;
	background-color: rgba(17, 29, 83, 0.623);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.iteminfo {
	display: none;
	position: absolute;
	padding: 0 10px 0 10px;
	font-weight: 500;
	font-size: 13px;
	top: 75%;
	margin: 0 auto;
	left: 0;
	right: 0;
	width: 20%;
	min-width: 300px;
	user-select: all !important;
	color: white;
}

p {
	line-height: 2px;
}

.iteminfo-label {
	font-size: 15px;
	font-weight:600;
}

.line {
	border: 0;
	border-top: 1px solid rgba(255,255,255,0.25);
	border-radius:2px;
	margin-top:5px;
	margin-bottom:5px;
}

.item-slot-count p {
	color: #ffffff;
	text-align: right;
	right: 2px;
	top: -3px;
	font-size: 11px;
	position: absolute;
}

.inv-option-item > p {
	color: white;
	text-align: center;
	line-height: 48px;
	text-transform: uppercase;
	font-size: 1.1pt;
	font-family: Verdana;
}

.inv-option-item { 
	position: relative;
	display: block;
	margin: 0 auto;
	height: 40px;
	width: 150px;
	top: 30%;
	background-color:rgba(100, 41, 41, 0.9);
	color: white;
	text-align: center;
	transition: 0.2s ease-in-out all;
	border: 0.09vh solid rgba(80,80,80,0.2);
    border-radius: 5px;
}

.nearbyPlayerButton {
    position: relative;
    display: block;
    margin: 0 auto;
    height: 40px;
    width: 150px;
    bottom: 10%;
    color: white;
    background-color:rgba(48, 71, 94, 0.9);
    transition: 0.2s ease-in-out all;
    border: 0.09vh solid rgba(80,80,80,0.2);
    border-radius: 5px;
}

.nearbyPlayerButton:hover {
    background-color: rgba(218, 0, 0, 0.2);
}

.controls-div {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    background-color: rgba(48, 71, 94, 0.2);
    width: 200px;
    height: 300px;
	border: 0.09vh solid rgba(80,80,80,0.2);
    border-radius: 5px;
}

.use {
    margin: 0 auto;
    width: 60px;
    height: 60px;
    top:-10%;
    margin-top: 0px;
	margin-bottom: 30px;
    opacity: 0.5;
    display: block;
    position: relative;
}

.give {
    margin: 0 auto;
    width: 50px;
    height: 50px;
    top: -10%;
    margin-bottom: 30px;
    opacity: 0.5;
    display: block;
    position: relative;
}

.give:hover, .use:hover, .close:hover, .inv-option-item:hover {
	background-color: rgba(218, 0, 0, 0.2);
}

.close {
	position: relative;
	display: block;
	margin: 0 auto;
	height: 40px;
	width: 150px;
	top: 40%;
	color: white;
	background-color:rgba(100, 41, 41, 0.9);
	transition: 0.2s ease-in-out all;
	border: 0.09vh solid rgba(80,80,80,0.2);
    border-radius: 5px;
}


/* scrollbar Hsn*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(100, 41, 41, 0.7);
}

.ui-draggable-dragging {
	pointer-events: none;
	width: 100px;
	height: 100px;
	position: relative;
	float: left;
	margin: 2px 1px 0 1px;
}

.ui-progressbar {
	background: rgba(0,0,0,0.5);
	width: 550px;
	margin-left: 30px;
	height: 25px;
	border-radius: 8px;
	border: 1px solid rgba(0,0,0,0.5);
}

.ui-progressbar-value 
{
	background: #30a121;
	border: 0px;
	border-radius: 0;
	transition: all 1s ease-out;
}

.ui-widget.ui-widget-content {
    border: 0px solid #c5c5c5;
}


.progressLeftLabel {
	position: absolute;
	left: 33%;
	top: 27px;
	font-size: 15px;
	color: #fff;
	font-weight: bold;
	padding: 5px;
	border-radius: 5px;
}

.progressRightLabel {
	position: absolute;
	right: 1%;
	top: 27px;
	font-size: 15px;
	color: #fff;
	font-weight: bold;
	padding: 5px;
	border-radius: 5px;
}

.bottom-buttons {
    bottom: 0;
    display: flex;
    height: 6%;
    justify-content: center;
    position: absolute;
    width: 100%;
}

.bottom-button {
    background: rgba(100, 41, 41, 0.9);
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 2vh;
    font-weight: 700;
    height: 100%;
    text-align: center;
    width: 3%;
}

.help-button {
    font-size: 2.15vh;
}

.setting {
    background-color: rgba(100, 41, 41, 0.9);
    border-radius: 10px;
    color: rgba(220, 220, 220, 1);
    display: none;
    font-size: 1.5vh;
    left: 59%;
    padding: 2%;
    position: absolute;
    top: 7%;
    width: 30%;
}
 

@media only screen and (max-width: 1280px) {

	.setting {
		background-color: rgba(100, 41, 41, 0.9);
		border-radius: 10px;
		color: rgba(220, 220, 220, 1);
		display: none;
		font-size: 1.5vh;
		left: 10%;
		padding: 2%;
		position: absolute;
		top: 50%;
		width: 20%;
	}

	.inventory-main {
		display: none;
		position: fixed;
		margin: auto;
		opacity: 0.9;
		overflow: hidden;
		zoom: 98%;
	}

	.item-slot-durability-bar {
		position: absolute;
		height: 8px;
	
		width: 550px;
		bottom: 0px;
		background-color: rgba(17, 29, 83, 0.623);
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
	}

	.inventory-main-leftside {
		width: 550px;
		height: 410px;
		overflow: auto;
		direction: ltr;
	}
	
	.inventory-main-rightside {
		width: 550px;
		height: 410px;
		overflow: auto;
		direction: ltr;
	}
	.ItemBoxes {
		position: relative;
		width: 100px;
		height: 108px;
		background-color: rgba(0, 0, 0, 0.2);
		float: left;
		top: -2px;
		margin: 2px 1px 0 1px;
		border: 0.09vh solid rgba(80,80,80,0.2);
		border-radius: 10px;
		left: 4%;
	}
	.ui-progressbar {
		background: rgba(0,0,0,0.5);
		width: 518px;
		margin-left: 30px;
		height: 25px;
		border-radius: 8px;
		border: 1px solid rgba(0,0,0,0.5);
	}
	
	.progressLeftLabel {
		position: absolute;
		left: 33%;
		top: 27px;
		font-size: 15px;
		color: #fff;
		font-weight: bold;
		padding: 5px;
		border-radius: 5px;
	}
	
	.progressRightLabel {
		position: absolute;
		right: 1%;
		top: 27px;
		font-size: 15px;
		color: #fff;
		font-weight: bold;
		padding: 5px;
		border-radius: 5px;
	} 

	.iteminfo {
		display: none;
		position: absolute;
		padding: 0 10px 0 10px;
		font-weight: 500;
		font-size: 12px;
		top: 80%;
		margin: 0 auto;
		left: 0;
		right: 0;
		width: 20%;
		min-width: 300px;
		user-select: all !important;
		color: white;
	}
}

@media only screen and (max-width: 1366px) {
	.inventory-main {
		display: none;
		position: fixed;
		margin: auto;
		opacity: 0.9;
		overflow: hidden;
		zoom: 98%;
	}

	.inventory-main-leftside {
		width: 550px;
		height: 410px;
		overflow: auto;
		direction: ltr;
	}
	
	.inventory-main-rightside {
		width: 550px;
		height: 410px;
		overflow: auto;
		direction: ltr;
	}
	.ItemBoxes {
		position: relative;
		width: 100px;
		height: 108px;
		background-color: rgba(0, 0, 0, 0.2);
		float: left;
		top: -2px;
		margin: 2px 1px 0 1px;
		border: 0.09vh solid rgba(80,80,80,0.2);
		border-radius: 10px;
		left: 4%;
	}
	.ui-progressbar {
		background: rgba(0,0,0,0.5);
		width: 518px;
		margin-left: 30px;
		height: 25px;
		border-radius: 8px;
		border: 1px solid rgba(0,0,0,0.5);
	}
	
	.progressLeftLabel {
		position: absolute;
		left: 33%;
		top: 27px;
		font-size: 15px;
		color: #fff;
		font-weight: bold;
		padding: 5px;
		border-radius: 5px;
	}
	
	.progressRightLabel {
		position: absolute;
		right: 1%;
		top: 27px;
		font-size: 15px;
		color: #fff;
		font-weight: bold;
		padding: 5px;
		border-radius: 5px;
	}
	 

	.iteminfo {
		display: none;
		position: absolute;
		padding: 0 10px 0 10px;
		font-weight: 500;
		font-size: 12px;
		top: 80%;
		margin: 0 auto;
		left: 0;
		right: 0;
		width: 20%;
		min-width: 300px;
		user-select: all !important;
		color: white;
	}
	
}
  
